.modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 20;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__form {
  padding: 20px;
  background: $white;
  border-radius: 20px;
  min-width: 350px;

  @include for-phone {
    min-width: 250px;
  }
}

.modal__inner {
  position: relative;
  z-index: 20;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.modal__close {
  position: absolute;
  right: 12px;
  top: 25px;
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.modal__heading {
  color: $headingColor;
  font-family: $primaryFontFamily;
  font-size: 1.125rem;
  font-weight: $baseFontWeight;
  margin-bottom: 30px;
}

.modal__inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  gap: 10px;
}

.modal__inputLabel {
  color: $inputTextColor;
  font-family: $primaryFontFamily;
  font-size: 0.75rem;
  font-weight: $baseFontWeight;
}

.modal__input {
  color: $inputTextColor;
  font-family: $primaryFontFamily;
  font-size: 0.75rem;
  padding: 12px 14px;
  border: 1px solid #495057;

  width: 100%;

  &[type='checkbox'] {
    width: auto;
  }
}

.modal__checkbox {
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.modal__checkLabel {
  font-size: 0.688rem;
  font-family: $primaryFontFamily;
}

.modal__inputButton {
  margin-top: 20px;
  background: $brandColor;
  color: $white;
  font-family: $primaryFontFamily;
  font-size: 0.75rem;
  font-weight: $baseFontWeight;
  padding: 10px;
  text-align: center;
  border: none;
  transition: 0.5s all;

  &:hover {
    cursor: pointer;
    background: #343a40;
  }
}

.modal__inputError {
  color: #ff0000;
  font-family: $primaryFontFamily;
  font-size: 12px;
  margin-top: 5px;
}

.modal__inputWrapper--error .modal__input {
  border: 1px solid red;
}


.modal__forgotPassword{
    color: $inputTextColor;
    font-family: $primaryFontFamily;
    font-size: 1rem;
    font-weight: $baseFontWeight;
    transition: 0.5s all;
    margin-bottom: 7px;

    &:hover{
        cursor: pointer;
        color: $brandColor;
    }
}
