html {
  font-size: $baseFontSize;
  width: 100%;
}

* {
  box-sizing: border-box;
}

main {
  padding-bottom: 60px;
  background: $mainBackgroundWhite;
}

.section__heading {
  color: $headingColor;
  font-family: $primaryFontFamily;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: $baseFontWeight;
}

.section__inner {
  margin: 70px;

  @include for-tablet {
    margin: 30px;
  }

  @include for-phone {
    margin: 0 30px;
  }
}

.ql-editor {
  background: $white;
}
.loginWithGoogle {
  display: flex;
  justify-content: center;
}
.ql-container > .ql-editor {
  background: #fff;
  height: 300px;
}
.ql-tooltip {
  width: 400px;
}
.multiselect_wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
