.subscription {
    width: 100%;
}

.subscription__inner {
    display: flex;
    flex-direction: column;
    padding: 30px 70px 80px 70px;
    //max-height: 377px;
    background: rgba(229, 229, 229, 0.30);

    @include for-phone {
        padding: 15px 20px;
    }
}

.subscription__heading {
    color: #495057;
    font-family: $primaryFontFamily;
    font-size: 2.25rem;
    font-weight: $baseFontWeight;
}

.subscription__addSub {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include for-phone {
        flex-direction: column;
    }
}

.subscription__add-text {
    color: $brandColor;
    text-align: right;
    font-family: $primaryFontFamily;
    font-size: 1.125rem;
    font-weight: $baseFontWeight;
    line-height: 20px;
}

.subscription__active {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    border: 1px dashed #495057;
    background: $white;

    @include for-phone {
        flex-direction: column;
        padding: 20px 10px;
    }
}

.subscription__active-text {
    color: $headingColor;
    font-family: $primaryFontFamily;
    font-size: 1.125rem;
    font-weight: $baseFontWeight;
    line-height: 25px;

    @include for-phone {
        text-align: center;
    }
}

.subscription__premiumButton {
  padding: 10px 80px;
  text-align: center;
  background: $brandColor;
  border: none;
  color: $white;
  transition: .5s all;

  &:hover {
      cursor: pointer;
      background: #343A40;
  }

    @include for-tablet {
        padding: 10px 25px;
    }

}

.subscription__logoBackground{
    @extend .premiumHeader__logoBackground;
    margin-right: 200px;
}

.subscription__ActiveType{
    color: #D4A373;
    font-family: $primaryFontFamily;
    font-size: 1.714rem;
    font-weight: 700;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 28px;
}

.subscription__editOption{
    color: #D4A373;
    font-family: $primaryFontFamily;
    font-size: 1.143rem;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin: 24px 0;
}

.subscription__activeDates{
    display: flex;
    gap: 5px;
    padding-bottom: 8px;
}

.subscription__activeDate{
    color: #495057;
    font-family: $primaryFontFamily;
    font-size: 1.143rem;
    font-weight: 700;
    line-height: 25px;
    margin: 0 ;
}

.subscription__activeDateValue{
    color: #495057;
    font-family: $primaryFontFamily;
    font-size: 1.143rem;
    font-weight: 500;
    line-height: 25px;
    margin: 0;
}
