@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Roboto:wght@100;400;700&display=swap');

body {
    margin: 0;
    position: relative;
}

main {
    padding-bottom: 60px;
    background: #F8F9FA;
}

.mainHeader {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.20);
    width: 100%;
    left: 0;
    right: 0;
}

.mainHeader__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 70px;
}

.mainHeader__logo {
    color: #F8F9FA;
    font-family: Spartan;
    font-size: 20px;
    font-weight: 700;
    padding: 30px 0;
    margin: 0;
}

.mainHeader__nav-list {
    display: flex;
    padding: 0;
    gap: 25px;
}

.mainHeader__nav-item {
    list-style: none;
}

.mainHeader__nav-link--active {
    border-bottom: 3px solid #D4A373;;
    padding-bottom: 5px;
}

.mainHeader__nav-link {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

.mainArticle {
    background: url(/images/mainBg.jpg);
    min-height: 600px;
    display: flex;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainArticle__inner {
    width: 100%;
    margin: 0 70px;
    padding: 70px 0;
}

.mainArticle__categories {
    display: flex;
    padding: 0;
    gap: 15px;
}

.mainArticle__category {
    list-style: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    display: inline-flex;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainArticle__category-link {
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    display: inline-flex;
    padding: 5px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mainArticle__heading {
    color: #FFF;
    max-width: 530px;
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.mainArticle__content {
    color: #E5E5E5;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    display: flex;
    gap: 10px;
}

.mainArticle__content--divider {
    width: 30px;
    height: 2px;
    margin: 10px 0;
    background: #E5E5E5;
}

.mainArticle__content--text {
    width: 550px;
}

.mainArticle__pagination {
    margin-top: 80px;
}

.section__inner {
    margin: 70px;
}

.section__heading {
    color: #495057;
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
}

.section__categories {
    display: flex;
    gap: 20px;
    padding: 0;
}

.section__category {
    list-style: none;

    &:last-child {
        margin-left: auto;
    }
}

.section__category-link {
    color: #495057;
    font-family: Lora;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
    transition: .3s;
}

.section__category-link--active {
    color: #D4A373;

    &:hover {
        text-decoration: underline;
    }
}

.articles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

.article {
    background: #FFF;
    border-radius: 10px;
}

.article__image-container {
    position: relative;
}

.article__image {
    width: 100%;
    height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.article__categories {
    position: absolute;
    display: flex;
    gap: 10px;
    top: 25px;
    right: 25px;
}

.article__category {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 10px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 10px;
}

.article__content {
    padding: 20px;
}

.article__time {
    color: #6C757D;
    font-family: Lora;
    font-size: 12px;
}

.article__content__inner {
    display: flex;
    justify-content: space-between;
}

.article__premium-icon {
    width: 18px;
    height: 18px;
}

.article__heading {
    color: #495057;
    font-family: Lora;
    font-size: 18px;
    margin-top: 10px;
}

.article__text {
    color: #6C757D;
    font-family: Lora;
    font-size: 12px;

}

.article__content-divider {
    background: #E5E5E5;
    min-width: 270px;
    min-height: 1px;
}

.article__content-author {
    display: flex;
    gap: 17px;
    align-items: center;
}

.article__content-author-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.article__content-author-name {
    color: #343A40;
    font-family: Lora;
    font-size: 12px;
    margin: 0;
}

.article__content-author-title {
    color: #6C757D;
    font-family: Lora;
    font-size: 12px;
    margin: 0;
    padding-top: 5px;
}

.editor__articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.editor__article {
    display: flex;
    align-items: end;
    position: relative;
}

.editor__article--image {
    height: 380px;
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.editor__article-category {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 8px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);

    color: #FFF;
    text-align: right;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.editor__article__inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 10px;
}

.editor__article--time {
    color: #E5E5E5;
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
}

.editor__article--heading {
    color: #FFF;
    width: 270px;
    font-family: Lora;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
}

.editor__article--text {
    color: #E5E5E5;
    width: 340px;
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
}


.editor__article--premiumIcon {
    width: 18px;
    height: 18px;
}

.mainFooter {
    background: #212529;
    display: flex;
    flex-direction: column;
}

.mainFooter__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px;
}

.mainFooter__column {
    width: 20%;
    padding: 0 15px;
    position: relative;
    margin-bottom: 35px;
}

.mainFooter__column--heading {
    color: #FFF;
    font-family: Lora;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    
}

.mainFooter__column--list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mainFooter__column--listItem {
    margin-bottom: 15px;
}

.mainFooter__column--listItem--link {
    display: block;
    color: #E5E5E5;
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}

.mainFooter__column--text {
    color: #E5E5E5;
    font-family: Lora;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    width: 114px;
}

.mainFooter__bottom {
    background: #343A40;
}

.mainFooter__bottom__inner {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;
}

.mainFooter__bottom--text {
    color: #E5E5E5;
    font-family: Lora;
    font-size: 14px;
    font-weight: 700;
}

.omo {
    display: flex;
    justify-content: space-between;
}