.article__comment {
    display: flex;
    padding: 30px;
    border-radius: 20px;
    background: $commentBackgroundColor;
    gap: 30px;

    @include for-phone {
        padding: 20px;
        gap: 20px;
    }
}

.article__comment-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.article__comment-author-name {
    color: $authorTextColor;
    font-family: $primaryFontFamily;
    font-size: 0.75rem;
    font-weight: $baseFontWeight;
    margin: 0;
}

.article__comment-date {
    color: $paragraphColor;
    font-family: $primaryFontFamily;
    font-size: 0.75rem;
    font-weight: $baseFontWeight;
    margin: 0;
}

.article__comment-content {
    margin: 0;
    color: $headingColor;
    font-family: $primaryFontFamily;
    font-size: 0.875rem;
    font-weight: $smallFontWeight;
    line-height: 20px;
}