.articles {
    @include grid(50px, 20px);
    grid-template-columns: repeat(4, 1fr);

    @include for-desktop {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include for-tablet {
        grid-template-columns: 1fr 1fr;
    }
    
    @include for-phone {
        grid-template-columns: 1fr;
    }
}

.article {
    background: $white;
    border-radius: 10px;
}

.article__image-container {
    position: relative;
}

.article__image {
    width: 100%;
    height: 280px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.article__categories {
    display: flex;
    position: absolute;
    gap: 10px;
    top: 25px;
    right: 25px;
}

.article__category {
    color: $white;
    text-align: center;
    font-family: $secondaryFontFamily;
    font-size: 0.625rem;
    font-weight: $baseFontWeight;
    text-decoration: none;
    border-radius: 7px;
    background: $categoryBackgroundColor;
    padding: 5px 10px;
}

.article__content {
    padding: 20px;
}

.article__time {
    color: $paragraphColor;
    font-family: $primaryFontFamily;
    font-size: 0.75rem;
}

.article__content-inner {
    display: flex;
    justify-content: space-between;
}

.article__premium-icon {
    width: 18px;
    height: 18px;
}

.article__heading {
    color: $headingColor;
    font-family: $primaryFontFamily;
    font-size: 1.125rem;
    margin-top: 10px;
}

.article__heading-link {
    color: $headingColor;
    text-decoration: none;
}

.article__text {
    color: $paragraphColor;
    font-family: $primaryFontFamily;
    font-size: 0.75rem;

}

.article__content-divider {
    background: $secondaryWhite;
    min-width: 270px;
    min-height: 1px;
}

.article__content-author {
    @include flex-center-vert;
    gap: 17px;
}

.article__content-author-image {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.article__content-author-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.article__content-author-name {
    color: $headingColor;
    font-family: $primaryFontFamily;
    font-size: 0.75rem;
    margin: 0;
}

.article__content-author-title {
    color: $paragraphColor;
    font-family: $primaryFontFamily;
    font-size: 0.75rem;
    margin: 0;
    padding-top: 5px;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.loader__inner {
    position: relative;
    border: 12px solid #f3f3f3;
    border-top: 12px solid $brandColor;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    top: 50%;
    right: 50%;
    left: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }